<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <title>JS Lab_8</title>
    <!--Комент-->
</head>
<body>
    <header class="header">
        <p> Hello </p>
    </header>
<div style="margin: 20px;">
    <h1 style="color: brown;"> <%= user_name%> </h1>
    <p>correct</p>
</div>
</body>
</html>